h1 {
    background-color: rosybrown;
}
.paraghaph-1 {
    background: chocolate;
    font-size: 18pt;
    color:maroon;
}

.paraghaph-2 {
    border: 5px solid rgb(181, 102, 201);
    font-size: 20pt;
    border-radius: 5px;
    margin-bottom: 60px;
    padding-left: 20px;
    font-family: 'Segoe UI';
}

.paraghaph-3 {
    text-align: center;
    font-style: oblique; 
    text-shadow: 1px 1px 2px green, 0 0 1em green, 0 0 0.2em green;
    font-size: 24pt;
    color:maroon;
}